---
import { MongoClient } from 'mongodb';
import HTMLBase from '../../components/HTMLBase.astro';
import MainLayout from '../../layouts/MainLayout.astro';
export const uri = 'mongodb+srv://robinquinteroc:nachov1ve@robinqcdb.f13qmph.mongodb.net/?retryWrites=true&w=majority';
export const client = new MongoClient(uri);

export async function getPosts() {
    const posts = await client.db('robinqc').collection('posts').find().toArray();
    return posts.map((post) => {
        return {
            id: post._id.toString(),
            title: post.title,
            content: post.content,
        }
    });
}
export const posts = await getPosts();

export async function getStaticPaths() {
    return posts.map((post) => {
        console.log(post);
        return {
            params: {
                post: post.id,
            }
        }
    });
}

const { post } = Astro.params;
const data = posts.find((p) => p.id == post);
---
<HTMLBase>
    <MainLayout slot="body">
        <div slot="content">
            <h1>{data.title}</h1>
            <p>{data.content}</p>
        </div>
    </MainLayout>
</HTMLBase>
