---
import BlogsGrid from '../components/BlogsGrid.astro';
---
    <div slot="content">
        <h2 class="welcome">BIENVENIDO</h2>
        <h2 class="blog">blog.robinqc</h2><div class="whitespace" />
        <div class="content">
        <h2 class="latest-post">ÚLTIMOS POSTS</h2>
        <BlogsGrid />
        </div>
    </div>

    <style>
        .content {
            background-color: black;
        }
    </style>
