---
import BlogsGrid from '../components/BlogsGrid.astro';
---
    <div slot="content">
        <h2 class="welcome">BIENVENIDO</h2>
        <h2 class="blog">blog.robinqc</h2><div class="whitespace" />
        <div class="content">
        <h2 class="latest-post">ÚLTIMOS POSTS</h2>
        <BlogsGrid />
        </div>
    </div>

    <style>
        .whitespace {
            height: 10rem;
        }
        .welcome {
            display: inline;
            font-size: 10vw;
            color: #CEFF1A;
            padding: 0;
            margin: 0;
            text-shadow: 4px 4px 0px #3100e5;
        }
        .blog {
            display: inline-block;
            font-size: 2vw;
            color: #3100e5;
            font-weight: lighter;
            font-family: 'Rocket pop';
            text-decoration: underline;
            background-color: #CEFF1A;
            box-shadow: 4px 4px 0px #3100e5;
        }
        .description {
            font-size: 1.5rem;
            color: white;
            font-weight: bold;
            width: 50%;
            padding-left: 1rem;
        }
        .latest-post {
            font-size: 3vw;
            color: black;
            display: block;
            position: relative;
            font-weight: lighter;
            padding-left: 1rem;
            padding: 20px;
            font-family: 'Rocket pop';
            background-color:  #CEFF1A;
        }
        .content {
            background-color: black;
        }
    </style>