---
import MainLayout from '../layouts/MainLayout.astro';
import Home from './Home.astro';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link href="https://fonts.cdnfonts.com/css/techno" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/force-majeure" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/rocket-pop" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/pistoleer" rel="stylesheet">
		<link href="https://fonts.cdnfonts.com/css/casper-comics" rel="stylesheet">
		<title>blog.robinqc</title>
		<style>
			html,
			body {
				font-family: system-ui;
				margin: 0;
				padding: 0;
			}
			
		</style>
	</head>
	<body>
		<MainLayout>
			<Home slot="content"/>
		</MainLayout>
	</body>
	
</html>
