---
import { getPosts } from "../utils/db";
import BlogPost from "./BlogPost.astro";
const thumbnail = "https://images.unsplash.com/photo-1575936123452-b67c3203c357?auto=format&fit=crop&q=80&w=1000&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8aW1hZ2V8ZW58MHx8MHx8fDA%3D";

export const posts = await getPosts();
console.log(posts);
---

<div class="posts">
    {posts.map((post) => (
        <BlogPost
            title={post.title}
            description={post.content}
            slug={post.slug}
            thumbnail={thumbnail}
        />
    ))}
</div>

<style>
    .posts {
        display: flex;
        flex-direction: row;
        gap: 1rem;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
    }
</style>