---
import Header from '../components/Header.astro';

const { title } = Astro.props;
---

<Header title="blog.robinqc"/>
<div class="container">
    <slot name="content"></slot>
</div>

<style>
    .container {
        padding-top: 100px;
        color: white;
        margin: 0 auto;
    }
</style>